<header>
    <div class="text-center d-flex flex-row justify-content-start" style="background-color: #19A7CE; height: 15vh;">
        <img class="img-fluid" src="../../../assets/images/DDT_LOGO.png" alt="">
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center" style="background-color: #146C94;">
        <div class="container col-6 d-flex justify-content-start align-items-center flex-row">
            <h3 class="text-white mt-2">Ventana de pago</h3>
            <a class="btn m-1 btn-light col-lg-2" routerLink="/menu" role="button"><i class="bi bi-backspace-fill"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-backspace-fill" viewBox="0 0 16 16">
                <path d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z"/>
              </svg></a>
        </div>
        <div class="container col-6 d-flex align-items-center justify-content-end">
        </div>
    </div>
</header>
<section class="col-12">
    <!-- <mat-stepper [linear]="" #stepper>
        <mat-step>
          <form>
            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step label="Fill out your address">
          <form>
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                     required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
    </mat-stepper> -->
    <div *ngFor="let book of cart" class="d-flex flex-row col-9 m-3"><div class="col-4 text-center border border-5"><b>Nombre: </b>{{ book.getTitle() }}</div><div class="col-4 text-center border border-5"><b>Precio: </b>{{ book.getPrice() }}</div><div class="col-4 text-center border border-5"><b>ISBN: </b>{{ book.getIsbn() }}</div></div>
    <h2 class="m-3">Número de artículos: {{ this.numProductosCart() }}</h2>
    <h1 class="m-3">Precio total: {{ this.getCartPrice() }}€</h1>
</section>
<footer class="text-center text-lg-start text-muted mt-3 d-flex align-items-center" style="background-color: #146C94; height: 20vh;">
    <img class="img-fluid h-75" src="../../../assets/images/DDT_LOGO.png" alt="">
</footer>